<div class="container">
    <div class="login-container">
        <form class="login-form" action="/login" method="POST">
            <h2 class="login-form__header">Авторизация</h2>
            <div class="login-form__username">
                <label for="username-input">Имя пользователя</label>
                <input id="username-input" type="text" name="username">
            </div>
            <div class="login-form__password">
                <label for="password-input">Пароль</label>
                <input id="password-input" type="password" name="password">
            </div>
            <div class="login-form__submit-btn clearfix">
                <input class="btn" type="submit" value="Войти">
                <div class="login-form__forget-password">
                    <a href="#">Забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="js/login.js"></script>
