<div class="container clearfix">
    <div class="user-container">
        <form class="user-form">
            <button class="btn user-form__login-btn">Войти</button>
            <button class="btn user-form__signup-btn">Регистрация</button>
        </form>
    </div>
</div>

<script src="js/main.js"></script>
