<div class="container">
    <p>
        Регистрация прошла успешно! Вы будете перенаправлены на главную страницу
        через <span class="counter">3</span> секунд.
    </p>
    <p>
        Если перенаправление не произошло, то перейдите вручную на <a href="/">главную</a> страницу.
    </p>
</div>

<script src="js/regsuc.js"></script>
